@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://cdn.syncfusion.com/ej2/material.css');
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css"); */

@layer base {
    * {
        font-family: Inter, sans-serif;
    }

    .bar:hover::-webkit-scrollbar-thumb {
        @apply block
    }

    ::-webkit-scrollbar {
        @apply w-1
    }

    ::-webkit-scrollbar-track {}

    ::-webkit-scrollbar-thumb {
        @apply rounded-full bg-gray-300 hidden h-4
    }

    .truncate-lines-2 {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        /* Limit to two lines */
        /* max-height: calc(1.2em * 2); */
        /* Adjust according to your font size and line height */
    }

    @keyframes identifier {
        
    }
}