@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://cdn.syncfusion.com/ej2/material.css');
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css"); */

.text-shadow {
    text-shadow: 1px 1px 0 #B8BEC3, -1px 1px 0 #B8BEC3, -1px -1px 0 #B8BEC3, 1px -1px 0 #B8BEC3;
}

.text-shadow-no1 {
    text-shadow: 1px 1px 0 #4a90e2, -1px 1px 0 #4a90e2, -1px -1px 0 #4a90e2, 1px -1px 0 #4a90e2;
}

.text-shadow-no2 {
    text-shadow: 1px 1px 0 #50e3c2, -1px 1px 0 #50e3c2, -1px -1px 0 #50e3c2, 1px -1px 0 #50e3c2;
}

.text-shadow-no3 {
    text-shadow: 1px 1px 0 #e35050, -1px 1px 0 #e35050, -1px -1px 0 #e35050, 1px -1px 0 #e35050;
}

.shadow-bottom {
    box-shadow: 0 0px 10px -5px rgba(115, 115, 115, 0.75);
}

.div_slick {
    width: calc(100%-250px);
}

.slick-slider {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 20px !important;
}

.slick-prev {
    z-index: 30 !important;
    left: -20px !important;
    width: 50px !important;
    height: 50px !important;
    display: block !important;
    border-radius: 25px !important;
}

.slick-next {
    z-index: 30;
    right: -20px !important;
    display: block !important;
    width: 50px !important;
    height: 50px !important;
    border-radius: 25px !important;
    background-color: black;
    opacity: 10;
}

.slick-prev::before , .slick-next::before {
    font-size: 25px !important;
}

/* css for react-custom-scrollbars-2 */
.track-horizontal {
    background-color: blue;
    width: 100%;
    left: 0px;
    bottom: 0px;
    height: 10px !important;
}


@layer base {
    * {
        font-family: Inter, sans-serif;
    }

    .bar:hover::-webkit-scrollbar-thumb {
        @apply block
    }

    ::-webkit-scrollbar {
        @apply w-1
    }

    ::-webkit-scrollbar-track {}

    ::-webkit-scrollbar-thumb {
        @apply rounded-full bg-gray-300 hidden h-4
    }

    .truncate-lines-2 {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        /* Limit to two lines */
        /* max-height: calc(1.2em * 2); */
        /* Adjust according to your font size and line height */
    }

    @keyframes identifier {}
}